---
import logo from '../assets/logo.svg';
---

<footer class="footer">
	<a class="brand mini" href="/" aria-label="APIEase home">
		<img class="logo" src={logo.src} alt="APIEase logo" />
	</a>
	<div class="footer-links">
		<a href="https://docs.apiease.com" target="_blank" rel="noreferrer">Docs</a>
		<a href="https://apps.shopify.com/apiease-admin" target="_blank" rel="noreferrer">Shopify app</a>
	</div>
</footer>
